<% parent_comment ||= nil %>

<%= form_with model: [parent_comment || post, Comment.new], local: true do |form| %>
  <div class="comment-box comment-form-card shadow-sm mb-4">
    <div class="comment-body position-relative" data-controller="mention-autocomplete">
      <%= form.text_area :content,
            class: "form-control",
            data: {
              "mention-autocomplete-target": "textarea",
              action: "input->mention-autocomplete#onInput"
            },
            placeholder: parent_comment ? "Write a reply..." : "Write a comment...",
            rows: 3 %>

    <ul 
  data-mention-autocomplete-target="dropdown"
  style="display:block; list-style:none; margin:0; padding:0; position:absolute; background:white; border:1px solid #ccc; max-height:150px; overflow-y:auto; z-index:1000;"
    >
    </ul>

      <div class="position-absolute bottom-0 end-0 p-2">
        <%= form.submit(parent_comment ? "Reply" : "Comment", class: "btn btn-reply btn-sm px-3") %>
      </div>
    </div>
  </div>
<% end %>
