<h1>Your Posts</h1>

<%= link_to "Create New Post", new_post_path %>

<% if @posts.any? %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= link_to post.title, post_path(post) %>
        (<%= link_to "Edit", edit_post_path(post) %> |
         <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>)
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no posts yet.</p>
<% end %>
