<div class="bg-themed">

  <!-- Render post partial -->
  <%= render partial: 'posts/show', locals: { post: @post } %>

  <!-- Buttons -->
  <div class="mt-2 d-flex justify-content-center gap-3 flex-wrap">
    <% if @post.user == current_user %>
      <%= button_to "Edit", edit_post_path(@post), method: :get, class: "btn user-btn px-4" %>
      <%= button_to "Delete", post_path(@post), method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: "btn user-btn btn-danger px-4" %>
    <% end %>

    <%= button_to "Back to Posts", posts_path, method: :get, class: "btn user-btn btn-secondary px-4" %>
  </div>

</div>
