.navbar-custom {
  background-color: #1f2937; // deep gray/black
  padding: 1rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  a.navbar-brand {
    color: $text-light;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $accent-color;
    }
  }

  .btn {
    color: $text-light;
  }

  a, .link-success {
    color: $text-light;

    &:hover {
      color: $accent-color;
    }
  }
}
